.app {
  margin-top: 30px;
}

.app h1.header {
  border-bottom: 2px solid #333;
}

.app .header span {
  font-size: 25px;
  font-weight: 300;
}

.app .header a {
  color: #00b5ad;
}

.app .header a:hover {
  text-decoration: underline;
}

.app .header .icons {
  float: right;
}

.app .textarea {
  min-height: 320px;
  border: 1px solid #d4d4d5;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  max-height: 320px;
  overflow-y: scroll;
}

.app .textarea p.file-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.app .textarea ul {
  list-style: circle;
  padding-left: 30px;
}

.app .textarea ul li span {
  color: #00b5ad;
}

.app .control-panel-container .field {
  margin: 10px 0;
}

.app .control-panel-container .field label {
  font-weight: 600;
}

.app .control-panel-container .field .upload-button input {
  display: block;
  width: 100%;
}

.app .control-panel-container .field .impatient-message {
  width: 100%;
}
